{% extends 'base.html.twig' %}

{% block title %}Hello UploadController!{% endblock %}

{% block body %}

  {% if message is defined %}
    <div>{{ message }}</div>
  {% endif %}

  {% if file is defined %}
    {{ file }}
  {% endif %}


{% endblock %}
