<a href="{{ path('product_index') }}">Products index</a>
<a href="{{ path('category_index') }}">Categories index</a>
<a href="{{ path('receipt_index') }}">Receipt index</a>
<a href="{{ path('image_index') }}">Images index</a>


<hr>